<configuration>
    <property name="APP_NAME" value="souf-app"/>
    <property name="LOG_DIR" value="/var/log/${APP_NAME}" />

    <springProperty name="SPRING_PROFILE" source="SPRING_PROFILE" defaultValue="unknown" />
    <springProperty name="INSTANCE_ID" source="INSTANCE_ID" defaultValue="unknown" />

    <appender name="CONSOLE_PRETTY" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"app":"${APP_NAME}", "env":"${ENV}", "instanceId":"${INSTANCE_ID}"}</customFields>
        </encoder>
    </appender>

    <appender name="FILE_APP_JSON" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/app.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>7</maxHistory>
            <totalSizeCap>2GB</totalSizeCap>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"app":"${APP_NAME}","env":"${ENV}","instanceId":"${INSTANCE_ID}"}</customFields>
        </encoder>
    </appender>

    <appender name="FILE_ERROR_JSON" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/error.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/error.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>14</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"app":"${APP_NAME}","env":"${ENV}","instanceId":"${INSTANCE_ID}"}</customFields>
        </encoder>
    </appender>


    <springProfile name="dev">
        <root level="DEBUG">
            <appender-ref ref="CONSOLE_PRETTY"/>
        </root>

        <logger name="io.netty" level="INFO"/>

        <logger name="org.hibernate.SQL" level="INFO"/>

        <logger name="com.zaxxer.hikari" level="INFO"/>

        <logger name="software.amazon.awssdk" level="INFO" />
        <logger name="com.amazonaws" level="INFO" />
        <logger name="org.springframework" level="INFO" />
        <logger name="io.awspring.cloud.sqs" level="INFO"/>
        <logger name="org.redisson.connection.DNSMonitor" level="INFO"/>
        <logger name="org.hibernate.query.sqm.function.SqmFunctionRegistry" level="INFO"/>
    </springProfile>

    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="CONSOLE_JSON"/>

            <appender-ref ref="FILE_APP_JSON"/>
            <appender-ref ref="FILE_ERROR_JSON"/>
        </root>

        <logger name="io.netty" level="WARN"/>

        <logger name="com.zaxxer.hikari" level="INFO"/>

        <logger name="software.amazon.awssdk" level="INFO"/>
        <logger name="com.amazonaws" level="INFO"/>
        <logger name="org.springframework" level="INFO"/>

        <logger name="io.awspring.cloud.sqs" level="INFO"/>
        <logger name="io.awspring.cloud.sqs.listener" level="INFO"/>
        <logger name="io.awspring.cloud.sqs.listener.source" level="INFO"/>

        <logger name="org.redisson.connection.DNSMonitor" level="INFO"/>
        <logger name="org.hibernate.query.sqm.function.SqmFunctionRegistry" level="INFO"/>

    </springProfile>
</configuration>
